{% extends 'base.html' %}
{% load static forms divs buttons %}

{% block extra_js %}
<script src="{% static 'js/apps/tools/init_chosen.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-6 bento-box">
        <div class="title text-center"><h2>Edit {{ group }} group</h2></div>
        
        <form method="POST">
            {% csrf_token %}
            <div class="row my-3 py-3">
                <div class="col text-center white fw-bold">Name</div>
                <div class="col text-center">{{ form.name }}</div>
            </div>

            <div class="row my-3 py-3">
                <div class="col text-center white fw-bold">Active</div>
                <div class="col text-center">{{ form.active }}</div>
            </div>

            <div class="row my-3 py-3">
                <div class="col text-center white fw-bold">Permissions</div>
                <div class="col text-center">{{ form.permissions }}</div>
            </div>

            <div class="row">
                <div class="col d-flex justify-content-center">
                    {% button title="Back to detail" href="accounts:group_detail" pk=object.pk glyph_class="fa-solid fa-left-long" %}
                </div>
                <div class="col d-flex justify-content-center">
                    {% button title="Save" glyph_class="fa-solid fa-floppy-disk" %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}