{% extends 'base.html' %}
{% load static forms divs buttons %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/generics/shine.css' %}">
{% endblock %}

{% block content %}

<div class="row align-items-center justify-content-center">
    <div class="col-10">
        <div class="row">
            <table class="table rounded-4 overflow-hidden table-responsive table-striped table-dark">
                <caption class="styled">Users management panel</caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Active</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.pk }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.is_active|yesno|title }}</td>
                        <td>
                            {% button title="Details" href="accounts:user_detail" pk=user.pk glyph_class="fa-regular fa-rectangle-list" %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}