html,
body {
  height: 100%;
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 50%, rgba(60, 0, 88, 1) 100%);
}

* {
  font-family: 'Kanit', sans-serif;
}

p {
  color: white;
}

h1, h2 {
  color: white;
}

a {
  color: white;
}

a {
  color: white !important;
}

.flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vertical-fill {
  height: 100%;
}

.nav-link {
  display: flex;
  flex-direction: row;
}

.backgroud-grey {
  background-color: rgba(48, 48, 48, 1);
  /* background-color: rgba(0, 0, 0, 1); */
}

.nav-link {
  position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #9ca3a7;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}