{% extends 'base.html' %}
{% load static forms %}

{% block content %}

<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="row">
            <div class="col-4 bento-box test-border">
                <p>App1</p>
            </div>
            <div class="col-4 bento-box test-border">
                <p>App1</p>
            </div>
            <div class="col-4 bento-box test-border">
                <p>App1</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}