{% extends 'base.html' %}
{% load static forms divs %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/generics/shine.css' %}">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="row">
            {% for object in object_list %}
                {% bento_box title=app.label href=app.get_app_url extra_classes="glass-shine-effect" %}
            {% endfor %}
            {% bento_box extra_classes="glass-shine-effect" glyph_class="fa-solid fa-plus" %}
        </div>
    </div>
</div>

{% endblock content %}