{% extends 'base.html' %}
{% load static forms divs buttons boosted_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/generics/shine.css' %}">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6 mx-auto mt-5 bento-box my-3">
        <div class="row justify-content-around">
            {% filter_form title="form" form=filter_form %}
        </div>
    </div>
</div>

{% if object_list %}
<div class="row align-items-center justify-content-center">
    <div class="col-10">
        <div class="row">
            <table class="table rounded-4 overflow-hidden table-responsive table-striped table-dark">
                <thead>
                    <tr>
                        {% for header in context.table_headers %}
                        <th scope="col">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        {% for field in context.field_list %}
                        <td>{{ object|get_attribute:field }}</td>
                        {% endfor %}
                        <td>
                            {% button title="Details" href=context.detail_view pk=user.pk glyph_class="fa-regular fa-rectangle-list" %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% if context %}
<div class="row my-3">
    <div class="col d-flex justify-content-center">
        {% button title=context.create_button_name href=context.create_view glyph_class="fa-solid fa-circle-plus" %}
    </div>
</div>
{% endif %}

{% endblock content %}